*{
    margin: 0;
    padding: 0;
}
/*Cuerpo de la pagina*/
body{
    background-color: #284B63;
    backdrop-filter: blur(10px);
}
.todo{
    width: 800px;
    height: 1000px;
    background-color: #284B63 ;
    margin: auto;
    display: block;
}
.inicio{
    width: 750px;
    height: 100px;
    background-color: #353535;
    margin: auto;
    display: block
}
.enlace{
    width: 750px;
    height: 50px;
    background-color: #3C6E71;
    margin: auto;
    display: block;
}
.pa{
    width: 750px;
    height: 1000px;
    background-color: #656d6d;
    margin: auto;
    display: block;
    padding-top: 10px;
}
.loc{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    background-color: black;
    margin: auto;
    display: block;
    margin-top: 20px;
}
footer{
    width: 750px;
    height: auto;
    background-color: white;
    margin: auto;
    display: block;
    text-align: center;
}
/*Texto*/
h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
h2{
    color: #aec3b0;
    font-size: 25px;
    text-align: center;
}
p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
/*Enlace*/
#ruta{
    width: 600px;
    height: auto;
    margin: auto;
    font-size: 20px;
}
ul{
    list-style: none;
}
.navy li a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 4px;
}
.navy li a:hover{
    background-color: #434343;
}
.navy > li{
    float: left;
}
.navy li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.navy li:hover > ul{
    display: block;
}
/*Imagenes*/
.logo{
    width: 100px;
    height: auto;
    float: left;
    border-radius: 10px;
}
figcaption{
    text-align: center;
    color: wheat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.home{
    width: 40px;
    height: auto;
    float: left;
    margin: 5px;
}
section{
    background-color: white;
}
.game{
    width: 500px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 20px;
}
.you{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 20px;
}
